* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    min-height: 96vh;
}

:root {
    --col1: #5f9ea0;
    --col2: #0084ff;
    --col3: blue;
    --col4: rgb(190, 215, 237);
}

.box1{
    display: flex;
    height: 250px;
    width: 250px;
    background-color: var(--col1);
    justify-content: center;
    align-items: center;
}

.box2{
    display: flex;
    height: 250px;
    width: 250px;
    background-color: var(--col2);
    justify-content: center;
    align-items: center;
}

.box3{
    display: flex;
    height: 250px;
    width: 250px;
    background-color: var(--col3);
    justify-content: center;
    align-items: center;
}

.box4{
    display: flex;
    height: 250px;
    width: 250px;
    background-color: var(--col4);
    justify-content: center;
    align-items: center;
}